<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <img  alt="Curitiba By Night" align="center" border="0" src="{{imgLogo}}" title="Curitiba By Night" width="192"/>
  <p>Olá, <b>{{name}}</b></p>
  <p>Este é um convite para você participar do website do projeto Curitiba By Night.</p>
  <img  alt="Website" align="center" border="0" src="{{imgWebsite}}" title="Website" width="440"/>

  <p>Para entrar, basta clicar no link abaixo, e terminar seu cadastro.</p>
  <p>
    <a href="{{link}}" style="-webkit-text-size-adjust: none; text-decoration: none; display: inline-block; color: #ffffff; background-color: #860209; border-radius: 60px; -webkit-border-radius: 60px; -moz-border-radius: 60px; width: auto; width: auto; border-top: 1px solid #860209; border-right: 1px solid #860209; border-bottom: 1px solid #860209; border-left: 1px solid #860209; padding-top: 15px; padding-bottom: 15px; font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif; text-align: center; mso-border-alt: none; word-break: keep-all;" target="_blank"><span style="padding-left:30px;padding-right:30px;font-size:16px;display:inline-block;"><span style="font-size: 16px; margin: 0; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;"><strong>Completar Cadastro</strong></span></span></a>
  </p>
  <p>Uma vez cadastrado, você terá acesso a sua ficha de personagem mais atualizada sempre.</p>
  <p>
    Obrigado!<br />
    <strong>Narração do Curitiba By Night</strong>><br />
    <strong>diretoria@curitibabynight.com.br</strong>
  </p>
</div>
